<%-include('header') -%>
<link rel="stylesheet" href="css/estilos.css" />
<script src='js/jquery.min.js'></script>
<title>Paginal de busca</title>
   <div class="container-entrar">
    <div><h1>Procure o livro</h1></div>
     <div>
                <a href="/login"><input type="button" value="Entrar"></a>
    </div>
    </div>

    <div class="container"> 
        <div class="container-search">
            <div class="search-box">
                <div>
                    <input type="text" id="search_input" name="search_input"  placeholder="Digite o titulo desejado ..." >
                </div>
                <!-- <div> 
                <select id="filtro">
                    <option value="numero_resgistro">Numero de registro</option>
                    <option value="titulo">Titulo</option>
                    <option value="assunto">Assunto</option>
                    <option value="autor">Autor</option>
                    <option value="data_publicacao">Data de publicação</option>
                </select>
            </div> -->
            <div>
                    <button id="busca" type="button" class="search-button">
                         <i class="bi bi-search"></i>
                     </button>
                    </div>
          </div>
        </div>
        </div>
      

      <div class="container">
        <h1></h1>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <!-- <th>Numero Registro</th> -->
                <th>Titulo</th>
                <th>Assunto</th>
                <th>Autor</th>
                <th>Data</th>
                <!-- <th>edição</th> -->
            </tr>
            </thead>
            <tbody class="dados" >
                <tr >
                    <td id="titulo"></td>
                    <td id="assunto"></td>
                    <td id="autor"></td>
                    <td id="data"></td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div>
        <div class="container-footer">
          <div class="p-lg-4">
            <button class="btn btn-light"><i class="bi bi-arrow-down-circle"></i> Relatorio</button>
          </div>
          </div>
      </div>
<script src='js/busca.js'></script>
